.bg-mainmenu {
    background-color: #E7E7E7;
}

a {
    text-decoration: none;
}

.bg-footer {
    background-color: #E7E7E7;
}

.title title1 {
    background-color: #6170BC;
    color: red;
}
.bg-customer{
    background-color: #F7F7F7;
}